<div class="container">
  <h1 class="text-center">Welcome to best before shopping app</h1>
<h4 class="text-center">A shopping app to tell you when you need buy items from a list</h4>


  <div class="text-center">
<%= link_to 'My shopping lists', shoppingLists_path, class: "btn btn-primary" %>
<%= link_to 'Create a new list', new_shoppingList_path, class: "btn btn-primary" %>
  </div>
  <br>
  <br>
  <%= image_tag "shopping.jpg", class: "img-responsive" %>

</div>