<h1>Welcome to best before shopping app</h1>
<p>A shopping app to tell you when you need buy items from a list</p>

<%= link_to 'My shopping lists', controller: 'shopping_items' %>
<br>
<br>
<%= link_to 'Create a new list', new_shopping_item_path %>