<p>
  <strong>List_Name:</strong>
  <%= @shopping_lists.name %>
</p>

<!--<p>-->
<!--  <strong>Item_name:</strong>-->
  <%#= @shopping_item.item %>
<!--</p>-->

<!--<p>-->
<!--  <strong>Frequency_of_purchase:</strong>-->
  <%#= @shopping_item.frequency_of_purchase %>
<!--</p>-->

<!--<p>-->
<!--  <strong>Last_purchased:</strong>-->
  <%#= @shopping_item.last_purchased %>
<!--</p>-->

<%= link_to 'Create a new list', new_shopping_list_path %>
<br>
<br>