<p>
  <strong>Title:</strong>
  <%= @shopping_item.title %>
</p>

<p>
  <strong>Item:</strong>
  <%= @shopping_item.item %>
</p>

<p>
  <strong>Frequency_of_purchase:</strong>
  <%= @shopping_item.frequency_of_purchase %>
</p>

<p>
  <strong>Last_purchased:</strong>
  <%= @shopping_item.last_purchased %>
</p>